---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Freelancer Blog - About">
  <h1 class="text-4xl font-bold mb-8">About Me</h1>
  <div class="neo-brutalism bg-neo-yellow p-8">
    <p class="mb-4">
      Hi there! I'm a freelance web developer and designer with a passion for creating unique, effective, and user-friendly websites. With over 5 years of experience in the industry, I've worked with clients from various sectors, helping them bring their digital visions to life.
    </p>
    <p class="mb-4">
      My approach combines clean, efficient code with eye-catching design, always keeping the end-user in mind. I specialize in responsive web design, front-end development, and creating custom WordPress themes.
    </p>
    <p>
      When I'm not coding, you can find me exploring new web technologies, contributing to open-source projects, or sharing my knowledge through this blog. Let's work together to make the web a more beautiful and functional place!
    </p>
  </div>
</Layout>