---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.vue';
---

<Layout title="Freelancer Blog - Contact">
  <h1 class="text-4xl font-bold mb-8">Contact Me</h1>
  <ContactForm client:load />
</Layout>